@font-face {
    font-family: 'Supremely Luxurious';
    src: url('./fonts/supremely_luxurious_demo-webfont.woff2') format('woff2'),
         url('./fonts/supremely_luxurious_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #26436C;
}

body {
    background-color: #eee6dc;
}

nav {
    margin: 2em 10em;
}

nav > hr {
    border: none;
    height: 1px;
    background-color: #26436C;
}

#links {
    display: flex;
    justify-content: center;
    gap: 2rem;

    margin-bottom: 0.5em;

    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
}

#links > a {
    color: #26436C;
    text-decoration: none;
}

#links > a:hover {
    color: #b48943;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    row-gap: 0;

    padding: 1em;
    margin-top: -4.5rem;
}

main > h1 {
    font-family: 'Supremely Luxurious', sans-serif;
    font-size: 9rem;
    font-weight: 100;
}

main > h2 {
    color: #b48943;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    letter-spacing: 1.25rem;
    font-weight: 200;
    text-transform: uppercase;
}