@font-face {
    font-family: 'Supremely Luxurious';
    src: url('./fonts/supremely_luxurious_demo-webfont.woff2') format('woff2'),
         url('./fonts/supremely_luxurious_demo-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
    margin: 0;
    color: #26436C;
}
main {
    background-color: #eee6dc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    row-gap: 0;
}

main > h1 {
    font-family: 'Supremely Luxurious', sans-serif;
    font-size: 8rem;
    letter-spacing: 0.01px;
    font-weight: 100;
}

main > h2 {
    color: #b48943;
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    letter-spacing: 0.5em;
    font-weight: 200;
    text-transform: uppercase;
}